body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

h1 {
  margin: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
  align-items: center;
  justify-content: center;
}

.lightbox img {
  width: 70%;
  max-width: 700px;
  border-radius: 10px;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 60px;
  cursor: pointer;
}

button {
  position: absolute;
  top: 50%;
  font-size: 60px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

#prev { left: 50px; }
#next { right: 50px; }

@media (max-width:500px) {
.gallery {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  
}
button{
    font-size: 30px;
    top:47%;
}
#close{
    font-size: 40px;
}
.lightbox img {
  width: 75%;
  max-width: 700px;
  border-radius: 10px;
}
#prev { left: 5px; }
#next { right: 5px; }
}